body {
    font-family: 'Lato', sans-serif;
    margin: 50px;
    text-align: center;
}

ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    display: inline-block;
    padding: 10px;
}

form {
    width: 33%;
    margin: 0 auto;
}
/*
div {
    width: 33%;
}*/

input {
    margin: 15px;
}

.container {
    padding-top: 15px;
}

.navbar {
    display: inline-flex;
    line-height: 30px;
}

p {
    padding: 10px;
}
